body{
    width: 100%;
 font-size: 25px;
    
}

body h1.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin:20px;
}

div.nav {
    display:flex;
    background-color: #1e88e5;
    overflow: auto;
    width: 100%;
}

div.nav a{
    padding: 20px;
    float: left;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    text-decoration: none;
    width: 25%;
}


div.nav a:hover {
    background-color: #90caf9;
    color: black;

}

#contato, #saiba, #about{
    height: 400px;

}

#home div.layoutHome{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin:0;
}
#home div.noticias{
    font-size: 18px;
    padding: 6px;
    height: 100%;

    width: calc(90% - 14px);
    overflow-x: hidden;

    scrollbar-width: none;
    display: inline-block;

    background-color: white;
}

.buttons{
    text-align: center;
}

#home div.btnLft {
    /* float: left; */
    /* width: 5%; */
    display:inline-block;
    
/**other codes**/
 
}

#home div div.btnRt{
    /* float: right; */
    /* width: 5%; */
    display:inline-block;


}

#home div div.btnLft button{
    float: left;
    width: 300px;
    height: 70px;
    opacity: 0.7;
}

#home div div.btnRt button{
    float: right;
    width: 300px;
    height: 70px;
    opacity: 0.7;
}




.invisible{
    display: none;
}

#noticia1 h1{
    font-size: 50px;
}


#noticia1{
    text-align: center;

}

#noticia2{
    text-align: center;
}

#noticia3{
    text-align: center;
}

#noticia4{
    text-align: center;
}

#noticia5{
    text-align: center;
}

#noticia6{
    text-align: center;
}
#noticia1 img{
    width: 800px;
    height: 1000px;
 
}

#noticia1 p{
    text-align: justify;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
  
}

#noticia2 p{
    text-align: justify;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
  
}

#noticia3 p{
    text-align: justify;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
  
}

#noticia4 p{
    text-align: justify;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
  
}

#noticia5 p{
    text-align: justify;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
  
}

#noticia6 p{
    text-align: justify;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
  
}

#noticia2 iframe{
    text-align: center;
}



#noticia3{
    text-align: center;

}
#noticia3 img{
    width: 800px;
    height: 1000px;
 
}

#noticia3 p{
    text-align: justify;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
  
}


#about {
    background-color: white;
    color: black;
}

#about p{
    padding-right: 200px;
   
}

#about h1{
    text-align: center;
    padding-top:15px;
}

#about img{
    width: 300;
    height: 300px;
    padding-right: 30px;
}

#contato h1{
    text-align: center;
    padding-top:15px;
}

#contato form{
    text-align: center;
}


#contato{
    text-align: center;
    padding-top:15px;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
    padding-right: 25px;
}


input{
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 25px;
}

form input.sub{
    width: 300px;
    padding-bottom: 25px;

}


.button {
    /* Para posicionar os botões para a mesma posição dos campos de texto */
    padding-left: 90px; /* mesmo tamanho que os elementos do tipo label */
}

textarea{
    margin-top: 25px;
  
}



#saiba{
    text-align: center;
    padding-top:200px;
    margin-top:200px;
    

}

ul{
    list-style-type: none;
    margin-top: 40px;
  }